@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .reveal {
    @apply opacity-0 translate-y-12 transition-all duration-1000 ease-out;
  }
  
  .reveal.active {
    @apply opacity-100 translate-y-0;
  }
}